@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    

    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color:rgb(241, 241, 241)

}

.Header {
    min-width: 640px;
    display: flex;
    align-items: center;
    padding-left: 256px;
    padding-right: 256px;
    background-color: #1f2937;
}

.header.links {
    display: flex;
    margin-left: auto;
    gap:16px;
    color:rgb(196, 196, 196)
}
body { padding: 0px;
margin: 0px
}

h1 {
    color: white;
}
h2 {
    color: white;
    margin: 0px;
    font-size: 42px;
    font-weight: 700;
    padding-right: 64px;
}
.subtext{
    padding-right: 64px;

}

h3 {
    color: rgb(0, 0, 0);
    margin: 0px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: .001px;
}

.main-body {
    min-width: 800px;

    background-color: #1f2937;
    margin:0px;
    padding-left: 256px;
    padding-right: 256px;
    padding-bottom: 128px;
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    gap: 0px;
    justify-content: center;
    flex: 1 ;
    align-items: center;

}

.text-main{
    
    margin-top:64px;
    margin-bottom: 64px;
    max-width: 512px;

    color: rgb(230, 230, 230);

}

.picture {
    
    width: 512px;
    height: 256px;
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex:0 0 auto;
    background-color: rgb(141, 141, 141);
    margin-left: 128px;

   

}
.sign-upB{
    border: 0px;
}

button {
    background-color: #3b82f6;
    color: white;
  
    padding-left: 32px;
    padding-right: 32px;
    padding-top:8px;
    padding-bottom:8px;
    font-weight: 700;
    font-size: 14px;
    margin-top: 8px;
    

    border-radius: 8px;
}

.random-information {
    min-width: 640px;
    padding-left:256px;
    padding-right: 256px;

    display: flex;
    text-align: center;
    align-content: center;
    padding-top:32px;
    flex-direction: column;
    margin-bottom: 64px;


}

.container-random {
    
    margin-top: 32px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    gap:64px;
    flex: 1;

}
.info {
    display: flex;
    max-width: 128px;
    flex-direction: column;
    gap:16px;
    align-items: center;
}
.text {
    color: rgb(102, 101, 101);
}

.image {
    
    height: 128px;
     width: 128px;
    border-radius: 8px;
    border-width: 4px;
    border-color: rgb(43, 125, 202);
    background-color: white;
    border-style: solid;
}

.testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    color: #64676d;
    padding:120px;
    padding-left: 512px;
    padding-right: 512px;
    font-size: 48px;
    font-weight: 200;
    flex-direction: column;

}

.quote {
    text-align: justify;
    font-style: italic;
    min-width: 640px;

}

.author{
    font-weight: 700;
    font-size: 24px;
    align-self: flex-end;
    text-align: right;
    padding-top: 8px;
}

p {
    margin: 0px;
    padding:0px;
}

.sign-up {
    min-width: 640px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 120px;
    margin-left:320px;
    margin-right:320px;
    padding:160px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #3b82f6;
    border-radius: 8px;
    
}

#signup-button {
    border-color: white;
    border-top-width: 2px;
    border-width: 2px;
    border-style: solid;
}
.title-signup{
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.text-signup {
    color:white;
}

.footer {
    background-color: #1f2937;
    color:rgb(196, 196, 196);
    text-align: center;
    padding-bottom: 32px;padding-top: 32px;

}